[package]
name = "regress-py"
version = "0.1.3"
edition = "2021"

[lib]
name = "regress"
crate-type = ["cdylib"]

[dependencies]
regress = "0.6.0"

[dependencies.pyo3]
version = "0.19.1"
features = ["abi3-py38"]
