[package]
name = "regress-py"
version = "0.4.5"
edition = "2021"

[lib]
name = "regress"
crate-type = ["cdylib"]

[dependencies]
regress = "0.7.0"

[dependencies.pyo3]
version = "0.21.2"
features = ["extension-module"]
