[package]
name = "regress-py"
version = "0.2.3"
edition = "2021"

[lib]
name = "regress"
crate-type = ["cdylib"]

[dependencies]
regress = "0.7.0"

[dependencies.pyo3]
version = "0.19.2"
features = ["abi3-py38"]
